<%= render 'header' %>
<%= render 'navigation' %>
<%= render 'flashes' %>
<%= yield :top_content %>
<div class="container">
  <h1><%= yield :header %></h1>

  <%= yield %>
</div>
<%= render 'footer' %>
<%= render 'javascript' %>
</body>
</html>